.App {
  text-align: center;
}

/* --------------------------------------
              CSS Mathieu
-------------------------------------- */





/* --------------------------------------
              Fin CSS Mathieu
-------------------------------------- */


/* --------------------------------------
              CSS Yohan
-------------------------------------- */





/* --------------------------------------
              Fin CSS Yohan
-------------------------------------- */

/* --------------------------------------
              CSS Guilhem
-------------------------------------- */





/* --------------------------------------
              Fin CSS Guilhem
-------------------------------------- */
body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(0deg, rgba(19, 12, 54, 0.2), rgba(19, 12, 54, 0.2)), #1E144A;
}


/* --------------------------------------
              CSS Lucas
-------------------------------------- */





/* --------------------------------------
              Fin CSS Lucas
-------------------------------------- */
