.App {
  text-align: center;
}

.App h1{
  color: white;
}

/* --------------------------------------
              CSS Mathieu
-------------------------------------- */





/* --------------------------------------
              Fin CSS Mathieu
-------------------------------------- */


/* --------------------------------------
              CSS Yohan
-------------------------------------- */





/* --------------------------------------
              Fin CSS Yohan
-------------------------------------- */

/* --------------------------------------
              CSS Guilhem
-------------------------------------- */





/* --------------------------------------
              Fin CSS Guilhem
-------------------------------------- */
body {
  font-family: 'Poppins', sans-serif;
  background: black;
}


/* --------------------------------------
              CSS Lucas
-------------------------------------- */





/* --------------------------------------
              Fin CSS Lucas
-------------------------------------- */
